<!DOCTYPE HTML>

<html>
	<head>
		<title>DDL Finder</title>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<!-- Scripts -->
			<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>
			<script src="assets/js/controller.js"></script>
		</head>
	<body ng-app="mainApp" ng-controller="app">

		<!-- Wrapper -->
			<div id="wrapper">
				<!-- Header -->
					<header id="header">
						<div class="logo">
							<span class="icon fa-play"></span>
						</div>
						<div class="content">
							<div class="inner">
								<h1>DDL-IT</h1>
								<p>Helps you find direct download links for movies and tv shows. <br>
								Designed by <a href="https://facebook.com/ayush.frost">Ayush Singh</a>. Helped by <a href="https://www.linkedin.com/in/umang-govil-7ab192107">Umang Govil</a></p>
								</div>
						</div>
						<nav>
							<ul>
								<li><a href="#getstarted">Get Started</a></li>
								
							</ul>
						</nav>
					</header>

				<!-- Main -->
					<div id="main">
						<!-- Fetch Links -->
							<article id="getstarted">
								<h2 class="major">Fetch Links</h2>
								<span class="image main"><img src="images/pic01.jpg" alt="" /></span>
								<form id="form1">
									Movie: <input type="text" ng-model="search" name="movie" placeholder="Enter Movie here" id="name"><br>
								</form>
								<button ng-click="searchButton()"type="button" id="submitbtn">
								Submit
								</button><br><br>
								<ol id="urls">
									
								</ol>								
							</article>
					</div>

				<!-- Footer -->
					<footer id="footer">
						<p class="copyright">&copy; DDL-IT. Design: <a href="https://facebook.com/ayush.frost">Ayush Singh</a>.</p>
					</footer>
					</div>

				<!-- BG -->
					<div id="bg"></div>
	</body>
</html>
